@charset "utf-8";
/* CSS Document */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
img {
    display: block;
    width: 100%;
    border-radius: 20px;
}
h1 {
    color: hsl(218, 44%, 22%);
    margin: 20px 0;
    font-size: 22px;
}
p {
    color: hsl(220, 15%, 55%);
    font-size: 16px;
}
.wrapper {
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 100%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 2px hsla(221, 15%, 64%, 0.56);
}
.text {
    margin: 20px;
    text-align: center;
}
.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin: 20px 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}